* {
	margin: 0;
	padding: 0;
	
	}


/* PANTALLA LOGIN*/

/*encabezado imagen Edvisto*/
.header {
    background-image: url("imagenes/encabezado.PNG");
    background-size: cover;
    height: 100px; /* ajusta la altura según sea necesario */
    padding-top: 100px; /* espacio entre la imagen y el contenido */
	}

@media only screen and (max-width: 900px) {
		.header {
		width: 100%;
		}
		}

@media only screen and (min-width: 300px) {
			.header {
			width: 100%;
			}
			}	


/*cuerpo de la página*/
body {
	font-family: 'Montserrat', sans-serif;
	background-color: #fff;
	}


.title-bienvenidalog {
	margin:auto;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	width: 40%;
	padding: 1rem;
	text-align: center;
	border-radius: 80px;
	font-size: 32px;
	color: white;
}

.title-bienvenidadoc{
	
	max-width: 100%;
	max-height: 100%;
	text-align: center;
	border-radius: 80px;
	font-size: 23px;
	color: white;

}

/*cuadro del formulario login*/
.login-container {
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	width: 80%;
	max-width: 600px;
	padding: 0.5rem;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	}



/*cuadro del correo y los dos checkbox*/
#login-form {
	display: flex;
	flex-direction: column;
	margin-top: 0.5rem;
	}

/*h1 Iniciar sesión*/
.login-title {
	margin:auto;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	width: 40%;
	padding: 1rem;
	text-align: center;
	border: 3px solid #fff;
	border-radius: 80px;
	font-size: 32px;
	}

/*cuadro del correo electrónico*/
#login-form #email {
	margin: auto;
	margin-bottom: 9px;
	width: 40%;
	text-align: center;
	padding: 0.5rem;
	border: 2px solid #000;
	background-color:  #EAF2F8;
	border-radius: 3px;
	}
	
/*labels*/
.form-label {
	display: block;
	align-items: center;
	}

/*manito para el checked*/
#role-student, #role-teacher{
	margin-right: 1.5rem ;
	cursor: pointer;
	}

/*cuadros de soy profesor soy estudiante*/
label.form-label {
	margin: auto;
	width: 40%;
	text-align: center;
	padding: 0.5rem;
	margin-bottom: 1.5rem;
	border: 2px solid #000;
	background-color: #D0ECE7;
	border-radius: 3px;
	}	

/*Propiedades del botón ingresar*/
.submit {
	margin:auto;
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
	width: 38%;
	padding: 0.5rem 1rem;
	background-color: #07E0C0;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	border: 2px solid #000;
	border-radius: 80px;
	font-size: 18px;
	cursor: pointer;
	
	}

/*Hover del botón*/
.submit:hover {
	background-color: #86E4D4;
	}




	
/*PANTALLA DOCENTE*/

/*Botones para regresar/cerrar sesión a la pantalla de LOGIN*/
.btn-inicio {
	position: relative;
	margin-top: 5px;
	bottom: 10px;
	right: 20px;
	margin-left: 85%;
	}
  
.btn-cerrar-sesion {
	display: inline-block;
	background-color: #EAF2F8;
	font-family: 'Montserrat', sans-serif;
	color: #1B4F72;
	padding: 8px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 5px;
	border: 2px solid #1B4F72;
	border-radius: 5px;
	cursor: pointer;
	}

.btn-cerrar-sesion:hover {
	color: #24C4AC !important;
	box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
	transition: all 0.2s ease;
 	}


/* estilos base para el contenedor y los elementos del SELECT */

.select-container {
    display: flex;
	padding: 0.9rem;
    flex-wrap: wrap;
    align-items: center;
	   
  	}
  
/* label nombre */

.select-container label {
    margin-right: 2rem;
	padding: 0.5rem;
	background-color: #D0ECE7;
	border-radius: 0.25rem;
	
	}
  
/*select menú*/

#select-menu {
    flex-grow: 1;
	max-width: 60rem;
    padding: 0.5rem;
	text-align: center;
    font-size: 1rem;
    border: none;
	background-color: #EAF2F8;
    border-radius: 0.25rem;
	border: 2px solid #000;
  	}

/* Estilos para pantallas pequeñas */
  @media (max-width: 767px) {
    .select-container label, .url-container label {
      margin-bottom: 0.5rem;
    }
    #select-menu {
      font-size: 0.9rem;
    }
	}

/*url que califica el docente*/
  
/* Estilos base para el contenedor y los elementos del label y URL */

.url-container {
	display: flex;
	padding: 1rem;
    flex-wrap: wrap;
    align-items: center;

	}
	  
.url-container label {
	margin-right: 1rem;
	font-size: 1rem;
	margin-right: 16rem;
	padding: 0.5rem;
	background-color: #D0ECE7;
	border-radius: 0.25rem;
	
	}

.url-container a {
	margin-right: 0px;
	font-size: 1rem;
	color: black;
	text-decoration: underline;
	background-color: #EAF2F8;
	border-radius: 8px;
	padding: 6px;
	border: 2px solid #000;
	
	
	}
/* Estilos para el enlace al pasar el ratón por encima */
	.url-container a:hover {
	color: #CD1414;
	}


/*Título CALIFICAR VIDEO*/

.calification-title {
	margin:auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 20%;
	padding: 0.3rem;
	background-color: #76D7C4;
	text-align: center;
	
	border-radius: 0.50rem;
	font-size: 14px;
	}

@media only screen and (max-width: 900px) {
	.calification-title {
	width: 90%;
	}
	}


/*Título DE HABILIDADES*/
	
.title-hability {
	padding: 0.5rem;
	background-color: #D0ECE7;
	border-radius: 0.25rem;
	
	margin-bottom: 1.5rem;
	
	
	}


/*BARRAS DE PROGRESO*/

/*posicionamiento de columnas*/

.container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-basis: 50%;
    max-width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.column {
    flex: 1;
}

/*posicionamiento de barras de progreso por habilidad*/

.progress-bar-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	}

.progress-bar-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	}

.progress-bar-3 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	margin-right: 4.5rem;
	}
  
.progress-bar-4 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	}

.circle-1, .circle-2, .circle-3, .circle-4  {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid #fff;
	background-color: #fff;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	margin-left: 10px;
 	}

 
  [data-index="20%"] {
	font-size: 10px;
	background-color: #ff0000;
	color: #000;
	}
  
  [data-index="40%"] {
	font-size: 10px;
	background-color: #ff0000;
	color: #000;
 	}
  
  [data-index="60%"] {
	font-size: 10px;
	background-color: #F5FA1E; 
	color: #000;
 	}
  
  [data-index="80%"] {
	font-size: 10px;
	background-color: #74FB09;
	color: #000;
 	}
  
  [data-index="100%"] {
	font-size: 10px;
	background-color: #74FB09;
	color: #000;
  	}
  
.active {
	border-width: 3px;
	border-color: #000;
	color: #000;
 	}

/*Responsive desing para las columnas*/

@media screen and (max-width: 768px) {
	.column {
		flex-basis: 100%;
		max-width: 100%;
		}
	}

/* estilo botón GUARDAR*/

.btn-container {
	position: relative;
	margin-top: 5px;
	bottom: 10px;
	right: 20px;
	margin-left: 47%;
	}
  
.btn-guardar {
	display: inline-block;
	background-color: #07E0C0;
	font-family: 'Montserrat', sans-serif;
	color: #000;
	padding: 6px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 5px;
	border: 2px solid #000;
	border-radius: 5px;
	cursor: pointer;
	}

.btn-guardar:hover {
	color: rgb(162, 250, 250) !important;
	box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
	transition: all 0.2s ease;
 	}
	




/*1a PANTALLA CARGUE DE VIDEO ESTUDIANTE */

/*input para cargar el video*/

.containerVideo {
	display: flex;
	justify-content: center;

	}
  
.column {
	margin: 0 10px;
	text-align: center;
	width: 33%;
		
	}
  
.input-box {
	margin-bottom: 8px;
	text-align: center;
	padding: 4px;
	
	}
  

h3 {   /*titulo del proyecto*/ 
	display: inline-block;
	align-items: center;
	width: 50%;
	font-size: 16px;
	height: 20px;
	margin-bottom: 8px;
	color: #D0ECE7;
	background: #076EB0;
	border-radius: 15px;
	padding: 7px;
	text-align: center;
  	}


.h3-azul {  /*titulo líder, email lider, email profesor, URL*/
	display: inline-block;
	align-items: center;
	width: 50%;
	font-size: 16px;
	height: 20px;
	margin-bottom: 16px;
	color: #D0ECE7;
	background: #076EB0;
	border-radius: 15px;
	padding: 7px;
	text-align: center;
}

.h3-celesteoscuro {   /*titulo descripción del video*/
	display: inline-block;
	align-items: center;
	width: 50%;
	font-size: 16px;
	height: 20px;
	margin-bottom: 6px;
	color: #D0ECE7;
	background: #076EB0;
	border-radius: 15px;
	padding: 7px;
	text-align: center;

}

.container-circle-estudiante {
	background: #D9D9D9;
	border-radius: 20px;
	margin-top: 27px;
	}

.input-box-tittle {
	margin-top: 6.7rem;
	}

input[type="text"]{
	display: block;
	margin: 0 auto;
	padding: 5px;
	border-radius: 5px;
	border: 2px solid #000;
	font-size: 12px;
	width: 75%;
	height: 14px;
	text-align: center;
	}

input::placeholder {
	text-align: center;
  	line-height: 100px;/* Centrado vertical */
	
	}
	

.input-box-email {
	display: block;
	margin: 0 auto;
	padding: 5px;
	border-radius: 5px;
	border: 2px solid #000;
	font-size: 12px;
	width: 75%;
	height: 14px;
	text-align: center;
	}
	
	
@media only screen and (max-width: 900px) {
	.column {
	width: 100%;
		}
	}

/*campo de url del estudiante*/

/*.form-group-estudiante label {
	display: block;
	margin-bottom: 10px;
	background: #07E0C0;
	border: 2px solid #000;
	border-radius: 3px;
	padding: 5px;
	}*/
	  
input[type="url"] {
	display: block;
	margin: 0 auto;
	padding: 5px;
	border-radius: 5px;
	border: 2px solid #000;
	font-size: 12px;
	width: 75%;
	height: 14px;
	text-align: center;
		
	}
	

/*textarea descripción del video*/

.container-textarea {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
 	}
  
.textinput {
	width: 100%;
	font-size: 15px;
	background-color: #EAF2F8; /* Cambia el color de fondo */
  	color: #333; /* Cambia el color de texto */
	border: 2px solid #000;
	border-radius: 5px;
	resize: vertical; /* Permite redimensionar verticalmente */
	min-height: 20px; /* Altura mínima */
	max-height: 300px; /* Altura máxima */
	overflow-y: auto; /* Añade scroll cuando se supera la altura máxima */
	margin-top: 6px;
	}

.textinput::placeholder {
	text-align: center;
	line-height: 200px;/* Centrado vertical */
	
	
	}
	




/*2a PANTALLA CARGUE DE VIDEO ESTUDIANTE - Estilos adicionales */

/*Círculos calificaciones del estudiante*/

.circle-estudiante {
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	margin-right: 10px;
	font-size: 8px;
  	}
  
.line {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 4px;
	padding: 4px;
  }